@model IEnumerable<proyectojcortes.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriaturaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDerrotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaDerrotado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CriaturaId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CantidadDerrotas)
            </td>
            <td>
                @Html.DisplayFor(model => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(model => item.EstaDerrotado)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(model => item.Criatura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
